<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carproject.mapper.DataMapper">

    <select id="getData" resultType="com.carproject.pojo.DetailedCarData">
        select * from safe_guard.data where car_number = #{carNumber}
    </select>


    <select id="getCarData" resultType="com.carproject.pojo.CarDate">
        select * from safe_guard.data
    </select>

</mapper>
